@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  text-align: center;
  font-family: "Bebas Neue", serif;
}
html,
body {
  background-image: url("q6m3ni3st4s81.jpg");
  background-position: center;
}
.headpage {
  font-size: 5rem;
}
.comandarea {
  font-size: 1.5rem;
  border-radius: 5%;
}
.imagechar {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: 10px;
}
.descriptionchange {
  color: transparent;
}
.boxcharacter:hover .descriptionchange {
  color: black;
  font-size: 1.5rem;
}
.boxcharacter:hover {
  transform: scale(1.1);
}
.title {
  background-color: darkgoldenrod;
  border-radius: 20px;
  border: 2px solid black;
}
.charactercontainer {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxcharacter {
  width: 600px;
  height: 600px;
  background-color: darkgoldenrod;
  border-radius: 5%;
  border: 2px solid black;
}
@media screen and (min-width: 767px) {
  .allcharacter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .speccharacter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .allcharacter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .speccharacter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .headpage {
    font-size: 2rem;
  }
  .comandarea {
    font-size: 0.5rem;
    border-radius: 5%;
  }
  .imagechar {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  .descriptionchange {
    color: transparent;
  }
  .boxcharacter:hover .descriptionchange {
    color: black;
    font-size: 0.5rem;
  }
  .boxcharacter:hover {
    transform: scale(1.1);
  }
  .title {
    background-color: darkgoldenrod;
    border-radius: 20px;
    border: 2px solid black;
  }
  .charactercontainer {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxcharacter {
    width: 300px;
    height: 300px;
    background-color: darkgoldenrod;
    border-radius: 5%;
    border: 2px solid black;
    font-size: 0.5rem;
  }
  .allcharacter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .speccharacter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
